/.github/ export-ignore
/encyclopedia_updater/ export-ignore
/report_updater/ export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.pre-commit-config.yaml export-ignore
/compose.yaml export-ignore
/Dockerfile export-ignore
/LICENSE export-ignore
/README.md export-ignore
/requirements.txt export-ignore
/requirements.dev.txt export-ignore
/setup.py export-ignore
/Taskfile.yml export-ignore